@media screen and (max-width:768px) {
    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
        left: -100%;
        background: #ffff;
        height: 100vh;
        transition: left 0.6s linear;
    }

    .navigation.show__menu {
        left: 0;

    }

    .modelImage {
        display: none;
    }

    .formContainer {
        width: 100% !important;
        padding: 20px !important;
    }

    .menu {
        padding: 20px;
    }

    .bannerText {
        font-size: 34px;
    }

    .heading {
        font-size: 34px;
        margin-bottom: 0;
    }

    .tripBtn {
        margin: 0 auto;
        font-size: 14px;
    }

    .dayPicker {
        top: 51px;
        left: -11px;
    }
}