@import './default.css';

.header {
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
}

.navActive {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}

.toggleIcon {
    font-size: 25px;
}

.smallText {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.bannerText {
    font-family: 'Borel', cursive !important;
    font-weight: 900;
    font-size: 66px;
    text-align: center;
    color: #fff;
}

.heading {
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: 700;
    padding: 30px 0px;
    text-align: center;
}

main {
    padding-top: 79px;
}

.bannerBox {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('../banner1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dayPicker {
    position: absolute;
    background: #fff;
    top: 0;
    padding: 5px;
    left: 0;
    border-radius: 14px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .045);
}

.closeBtn {
    width: 50px;
    background: #fff;
    color: var(--primary-color);
    top: -17px;
    right: -9px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
}

.mobileShadow {
    padding: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .075);
}

.toggleIcon {
    font-size: 25px;
}

.mapIcon {
    font-size: 24px;
    color: red;
}

.calenderIcon {
    font-size: 20px;
    color: var(--secondary-color);
}

.wrapText {
    white-space: normal;
    word-break: break-all;
    font-size: 14px;
}